body{
    background-color: #edf1f2;
}
#navbar1{
    background-color: rgb(83, 163, 163);
    border-color:#27c24c;
        min-height: 60px !important;
}
#navbar1 a{
    color:white;
} 

.banner-header:hover {
    background-color: rgba(35, 175, 69, 0.73);
    cursor: pointer;
}

.banner-header:hover {
    width: 17%;
    height: 60px;
    margin-left: -15px;
    padding-left: 16px;
}  

.banner-header a:hover {
    text-decoration: none;
}

.card{
    /*width: 30%;*/
    margin-right: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    color: #04B173;
    /*color: #27c24c;*/
    /*width: 60%;*/
}
#card-header{
    /*background-color: #27c24c;*/
    background-color: #04B173;
    font-weight: bold;
    color:white;
    font-size: 20px;
}
.navbar-inverse{
    background-color: #27c24c;
}

#button{ 
    background-color: #04b173;
    border-color: #27c24c;
    color:white;
    position: relative;
}

.main-transaction .search { 
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 6px 25px !important;
}
#add-button{
    border-radius: 100%;
    border: none;
    background-color: #04b173;
    width: 40px;
    height: 40px; 
    color: white;
    font-size: 20px;
}
#add-button:hover{
    background-color: rgba(39, 160, 68, 0.99);
    color: white !important;
}
#update-link{
    float:right;
    color: white;
    font-size: 20px;
}
#delete-link{
    color: #27c24c;
    font-size: 18px;
    top: 1px;
}
/* add modal*/
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
.modal-header{
    background-color: #65E563;
    color:white;
}
/*button default*/
.btn-default {
    /* text-shadow: 0 1px 0 #fff; */
    /* background-image: -webkit-linear-gradient(top,#fff 0,#0E0808 100%); */
    background-image: none;
    border-color: #27C24C;
}
.dropdown-toggle.btn-default:hover {
    color: white;
    background-color: #B9E563;
    border-color:none;
}

.table > tbody > tr > td {
    padding: 5px 8px 0px 8px !important;
    text-align: center;
}

.offset-table-right {
    margin-right: 8%;   
}

.page-header {
    border-bottom: none;
}

#addModal label {
    text-align: left !important;
    padding-bottom: 10px !important;
}

#button > a {
    color: white !important;
}

#button > a:hover {
    text-decoration: none !important;
}

#button:hover {
    background-color: rgba(39, 160, 68, 0.99);
}

/*.btn-default> option:hover {
    background-color: #e6e6e6 !important;
}*/

select {
    height: 34px;
    border: 1px solid #3BC75C;
}

.main-transaction .page {
    left: 0px !important;
}

.main-transaction .with-selected {
    float: none;
}

.main-transaction #deleteAll {
    right: -2%;
    float: none;
} 

.main-transaction #search-year-transaction {
    float: left;
    position: relative;
    width: 10%;
    padding-left: 10px; 
    border-radius: 0;
    background-color: white;
    border: 1px solid #3BC75C !important;
    height: 34px;
}

.sidebar .nav > li:active,
.sidebar .nav > li:focus {
    background-color: #0F171D;
}

#add-admin,
#add-addmin {
    position: relative;
    top: -11px;
    padding-left: 5px;
    padding-right: 20px;
}

#addModal .form-control {
    /*margin-bottom: 13px;*/
}

#search-type-category {
    position: relative;
    top: -130px;
    right: 19%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#input-group-search-type {
    left: 57px;
}

#query-category-name {
    position: relative;
    width: 180%;
    border: 1px solid #27C24C;
    bottom: 164px;
    left: 5%;
}

.button-search-category {
    position: relative;
    bottom: 130px;
    margin-left: -7px;
}

/*search transfer*/ 

#search-wallet-receive {
    position: relative;
    float: left;
    width: 17%;
    border-radius: 0;
    top: 0;
}

#search-wallet-sent {
    position: relative;
    /*left: 38.5%;*/
    float: left;
    width: 16%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

h1 >a {
    /*color: #27c24c;*/
    color: #04B173;
}

h1 >a:hover {
    text-decoration: none;
    color: rgb(38, 159, 68) !important;
}

#button-search-report {
    position: relative;
    bottom: 99px !important;
    background: #04b173;
    left: 42% !important;
    height: 34px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: white;
    padding: 6px 25px !important;
}

#button-search-report:hover {
    background-color: rgba(39, 160, 68, 0.99);
}

#add-transaction-date select {
    width: 32%;
    float: left;
    min-width: 20% !important;
    margin-right: 11px;
}

select#WalletNameYear {
    margin-right: -1px;
}

#email-profile {
    padding-right: 10px;
    position: relative;
    top: -3px;
}

#total-money-current {
    position: relative;
    bottom: 67px;
    left: 30%;
    width: 50%;
}

.update-link-wallet-edit {
    color: white; 
    float: right; 
    position: relative; 
    top: 4px;
}

.delete-link-wallet {
    color: white !important; 
    float: right; 
    padding-left: 15px;
    margin-top: 6px;
}

#ReportMonthsIndexForm {
    bottom: 65px;
    position: relative;
    left: 25%;
    width: 50%;
}

.wallet-info-details {
    color: black;
}

.page-header >a {
    margin-left: 24px;
}

#content-message {
    background: rgb(28, 43, 54);
    color: #C5BBBB;
    width: 50%;
    text-align: center;
    margin-left: 29%;
}

.body-report-month {
    margin: auto;
    width: 83.2% ;
    /*border: 1px solid #27C24C;*/
    margin-bottom: 3%;
}

/*popu*/ 

.arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid red;
    padding: 5px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-bottom-color: #BF0808;
    border-width: 11px;
    /* border: 4px solid; */
    left: 18%;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    /*border-bottom-color: #c2e1f5;*/
    border-width: 36px;
    margin-left: -36px;
}

#confirmMessageChangPass {
    position: relative;
    color: rgb(102, 204, 102);
    padding-left: 13px;
    top: -8px;
}

#MessageChangOldPass {
    float: left; 
    right: 97%; 
    margin-bottom: 8px;
    margin-top: -10px;
    width: 100%;
    margin-left: 16px;
    color: red;
}

#confirmMessageUploadAva {
    position: relative;
    right: 38%;
    top: 21px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: white;
    padding-bottom: 6px;
    border: 1px solid #BDBABA;
    float:left;
}

.fileUpload .fa-camera {
    background-color: white;
    color: black;
    font-size: 17px;
    /*float: left;*/
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#note-upload-ava {
    float: left;
}

#load-avatar-upload {
    margin: 10px;
    /*float: left;*/
}

.forgot-password {
    margin-bottom: 8px;
}

#btn-forgot-password {
    background-color: #27c24c;
    border-color: #27c24c;
    line-height: 35px;
    color: white;
    position: relative;
    height: auto;
}

#btn-colse-forgot-password {
    height: auto;
    line-height: 33px;
    border: 1px solid #65E563;
    background-color: white;
    color: black;
}

#btn-colse-forgot-password:hover {
    background-color: rgba(128, 128, 128, 0.24);
    color: rgb(0, 0, 0);
}

#forgot-pass-email {
    font-size: 16px;
    height: 40px ;
}

.iconcheck-username-forgotPass {
    position: relative;
    right: 49%; 
    top: 5px; 
    font-size: 20px;
    color: red;
}

.iconcheck-email-forgot {
    position: relative;
    right: 55%;
    top: 3px;
    font-size: 20px;
    color: red;
}

#id-a-forgotPass:hover {
    text-decoration: underline;
}

#active-cate:active {
    background-color: #191D21 !important;
}

.dashboard {
    background-color: rgba(128, 128, 128, 0.08);
    border: 1px solid rgba(128, 128, 128, 0.16);
    border-radius: 5px;
}

.left-dashboard {
        float: left;
    font-size: 17px;
    width: 20%;
    /* border: 1px solid; */
    margin: 19px 5px;
    text-align: center;
}

.right-dashboard {
    float: left; 
}

.right-dashboard > h2 {
    margin-top: 10px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders-board {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders-board h4 {
  margin-bottom: 0;
}
.placeholders-board {
  margin-bottom: 20px;
}
.placeholders-board img {
  display: inline-block;
  border-radius: 50%;
}

div.polaroid {
  width: 200px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 5%;
  margin-top: 2%; 

}

table a {
    color: #04b173;
}

table a:hover {
    color: rgba(39, 160, 68, 0.99);
    text-decoration: none;
}